body {
    font-size: 60%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assets/storebackground.jpeg);
    padding: 0;
    margin: 0;
    /* -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%; */
    background-size: 100% 100%;
    /* -o-background-size: 100% 100%; */
}



h1 {
    color: rgb(48, 43, 43);
    font-size: 3em;
    margin: 1em;
    padding: 0;
    
}

#brand {
    color: rgb(48, 43, 43);
    font-size: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-right: 4em;
}
#brandTwo {
    color: rgb(48, 43, 43);
    font-size: 80px;
    text-align: center;
    margin: 0;
    margin-bottom: -.4em;
    padding: 0;
}
#brandTwoCopy {
    color: rgb(48, 43, 43);
    font-size: 10px;
    text-align: right;
    margin: 0;
    padding-top: 2em;
    padding-right: 45%;
}

ol {
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}

ol li {
    margin: 0;
    padding: 0 0 0.2em;
}





section div.shoe {
    float:right;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: rgb(219, 216, 216);
    border: black solid 3px;
    border-radius: 0.6rem;
}

section div.shoe img.shoeType {
    border: white solid 10px;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 19%;
  }

button:hover{
    background-color: #4fa152; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    
  }




/* button {
    border: white solid 10px;
    border-radius: 20%;
    background: white;
} */


a {
    text-decoration: none;
}

nav {
    color: black;
    font-size: 2em;
    letter-spacing: .04em;
    padding: 1em 1em .5em;
    margin: 1em 0;
}

nav li {
    color: white;
    display: inline-block;
    margin: 0;
}

nav li a:hover {
    color: rgb(104, 102, 102);
    
    padding: -10%;
}

nav#utilityMenu {
    float: right;
    margin: -1.5em 0 0 0;
    padding: .35em;
    background-color: rgb(37, 37, 37);
    height: 2.5em;
}

nav#utilityMenu li {
    padding: 1 0.25em 1 0.2em;
    vertical-align: middle;
}

nav#utilityMenu li.colorText a, nav#utilityMenu ul li.colorText a:visited {
    color: #fff;
    text-decoration: none;
}




#navBar {
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: rgb(31, 29, 29);
    border: solid rgb(53, 50, 50) 2px;
    border-radius: 10px;
    font-size: 40px;
}

#navBarSpace{
padding-right: 10%;
}


li a{
    color: white;
}

footer {
 background: rgb(19, 18, 18);
 height: 25px;
 font-size: 1.2em;
 color: whitesmoke;
 text-align: center;
 padding: 1.5em 2em;
}



div.bottom {
clear: both;
font-size: 1%;
}

footer ul#footerBottom {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}

footer ul li::before{
    content: "| ";
    padding-right: 0.7em;
}


